.post_container {
  align-items: center;
  width: 500px;
  height: 200px;
  box-shadow: 1px 4px 5px 0 gray;
  margin: auto;
  border-radius: 2px;
  text-align: center;

  padding-bottom: 10px;
  margin-bottom: 19px;
  margin-top: 5px;
}

/* .interaction {
  float: left;
  padding-bottom: 8px;
  display: flex;
  position: relative;
  align-items: flex-end;
} */

/* color: blue;


min-height: 150px;


padding-left: 15px; */
